<div class="container">

  <form class="form-signin" id='login_data'>
    <h2 class="form-signin-heading">趣租乐管理后台</h2>
    <label class="sr-only">帐号</label>
    <input type="text" name="user_name" class="form-control" placeholder="帐号" required autofocus>
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="密码" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >登 录</button>
  </form>

</div>

<script>
    jsSrc('login');
    cssSrc('login');
</script>