body {
    font-size: 14px;
    min-width: 1100px;
    color: #4e4e4e;
    background-color: #EDEDED
}

.textCenter {
    text-align: center
}

.textLeft {
    text-align: left
}

.textRight {
    text-align: right
}

.linkStyle {
    user-select: none;
    cursor: pointer;
    color: #4867de
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.inline {
    display: inline-block!important
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.ml10 {
    margin-left: 10px
}

.mr10 {
    margin-right: 10px
}

.fl-left {
    float: left
}

.fl-right {
    float: right
}

.successText {
    color: #59d67b
}

.primaryText {
    color: #337ab7!important
}

.errorText {
    color: #e65b5b!important
}

.importantText {
    color: #DE4037!important
}

.disabledText {
    color: #B2B2B2!important
}

.zhimaText {
    color: #56C7B4!important
}

.formControl {
    display: block;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc
}

.formControl:focus {
    border-color: #66afe9;
    outline: 0
}

.clear::before {
    content: "";
    display: block;
    width: 0;
    height: 0
}

.clear::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both
}

.eventSuccess,.toCartSuccess {
    display: none;
    position: fixed;
    width: 245px;
    height: 92px;
    right: 5px;
    bottom: 25%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.1)
}

.eventSuccess .text,.toCartSuccess .text {
    font-size: 18px;
    color: #fb6c00;
    padding: 6px 5px
}

.eventSuccess .text i,.toCartSuccess .text i {
    font-size: 24px
}

.eventSuccess .text span,.toCartSuccess .text span {
    margin-left: 5px
}

.eventSuccess .btnsGroup,.toCartSuccess .btnsGroup {
    padding-left: 45px
}

.eventSuccess .btnsGroup .toCart,.eventSuccess .btnsGroup .toList,.toCartSuccess .btnsGroup .toCart,.toCartSuccess .btnsGroup .toList {
    float: left
}

.eventSuccess .btnsGroup .toCart a,.eventSuccess .btnsGroup .toList a,.toCartSuccess .btnsGroup .toCart a,.toCartSuccess .btnsGroup .toList a {
    display: block;
    padding: 5px 10px
}

.eventSuccess .btnsGroup .toCart a:hover,.toCartSuccess .btnsGroup .toCart a:hover {
    color: #fb6c00;
    text-decoration: underline
}

.showInfoContainer {
    position: fixed;
    right: 15px;
    top: 60px;
    z-index: 9999
}

.showInfo {
    max-width: 360px;
    min-width: 200px;
    padding: 15px;
    margin: 5px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.1)
}

.errorInfo {
    color: #fff!important;
    background: #e65b5b!important
}

.successInfo {
    color: #fff!important;
    background: #59d67b!important
}

.primaryInfo {
    color: #fff!important;
    background: #337ab7!important
}

i {
    font-style: normal
}

.contact {
    position: fixed;
    right: 0;
    top: 40%;
    width: 50px;
    z-index: 9999;
    cursor: pointer
}

.contact div,.contact div img {
    width: 100%
}

.contact a {
    position: relative;
    width: 100%;
    display: block
}

.contact a span {
    position: absolute;
    right: -200px
}

.contact a img {
    width: 100%
}

.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-cancel,.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-sure {
    float: left;
    width: 50%;
    position: relative;
    height: 64px;
    padding: 16px 0
}

.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-cancel .btn,.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-sure .btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    margin: auto;
    border: 1px solid #dedede
}

.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-cancel .btn {
    background: linear-gradient(to bottom,#fff,#F0F0F0)
}

.confirm-modal .confirm-modal-body .confirm-btn .confirm-btn-sure .btn {
    color: #fff;
    background: linear-gradient(to bottom,#FAAD00,#FA8018)
}

.chatFixed {
    position: fixed;
    right: 10px;
    bottom: 45%;
    cursor: pointer;
    z-index: 888;
    display: none
}[draggable=true] {
     display: none
 }

.alertBg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    display: none
}

.alertBg .deleteAlert {
    width: 400px;
    border: 1px solid #eee;
    height: 260px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -130px 0 0 -200px;
    color: #2C2C2C;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    overflow: hidden
}

.alertBg .deleteAlert .alertTitle {
    background: linear-gradient(to bottom,#fff,#f0f0f0);
    color: #2C2C2C;
    height: 60px;
    line-height: 60px;
    text-indent: 16px;
    font-size: 18px;
    border-bottom: 1px solid #dedede
}

.alertBg .deleteAlert .alertTitle .close {
    float: right;
    font-size: 32px;
    transform: rotateZ(45deg);
    margin-right: 16px;
    margin-top: -8px;
    color: #95989A;
    cursor: pointer
}

.alertBg .deleteAlert .alertBody {
    padding: 48px 20px
}

.alertBg .deleteAlert .alertBody .alertLine {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center
}

.alertBg .deleteAlert .alertFoot {
    background: linear-gradient(to bottom,#fff,#f0f0f0);
    height: 66px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #dedede
}

.alertBg .deleteAlert .alertFoot .cancelCon,.alertBg .deleteAlert .alertFoot .sureCon {
    width: 50%;
    padding: 12px 10px
}

.alertBg .deleteAlert .alertFoot .cancelCon .cancelBtn,.alertBg .deleteAlert .alertFoot .cancelCon .sureBtn,.alertBg .deleteAlert .alertFoot .sureCon .cancelBtn,.alertBg .deleteAlert .alertFoot .sureCon .sureBtn {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer
}

.alertBg .deleteAlert .alertFoot .cancelCon .sureBtn,.alertBg .deleteAlert .alertFoot .sureCon .sureBtn {
    background: linear-gradient(to bottom,#FAAD00,#FA8018);
    color: #fff;
    float: right
}

.alertBg .deleteAlert .alertFoot .cancelCon .cancelBtn,.alertBg .deleteAlert .alertFoot .sureCon .cancelBtn {
    background: linear-gradient(to bottom,#fff,#f0f0f0);
    border: 1px solid #dedede
}

.alertBg .deleteAlert .alertFoot .sureCon {
    float: right
}

.alertBg .deleteAlert .alertFoot .cancelCon {
    float: left
}

.mainContent {
    width: 1100px;
    margin: 0 auto;
    padding: 0 10px 20px;
    font-size: 14px
}

.mainContent .cartCon {
    background: #fff;
    border: 1px solid #DEDEDE
}

.mainContent .cartCon .cartTitle {
    text-indent: 24px;
    font-size: 18px;
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #DEDEDE;
    background: linear-gradient(to bottom,#fff,#f0f0f0)
}

.mainContent .cartCon .emptyCart {
    padding: 20px 0 100px;
    text-align: center;
    color: #000;
    position: relative
}

.mainContent .cartCon .emptyCart p {
    padding: 10px 0
}

.mainContent .cartCon .emptyCart img {
    width: 388px
}

.mainContent .cartCon .emptyCart .toListLink {
    width: 150px;
    border: 1px solid #dedede;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom,#fff,#f0f0f0);
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #8D8D8D
}

.mainContent .cartCon .goodsList .infoHeader {
    padding: 6px 0;
    background: #ddd
}

.mainContent .cartCon .goodsList .infoHeader div {
    float: left;
    text-align: center;
    padding: 5px 0
}

.mainContent .cartCon .goodsList .infoHeader .nameHd {
    width: 420px;
    text-align: left;
    text-indent: 24px
}

.mainContent .cartCon .goodsList .infoHeader .priceHd,.mainContent .cartCon .goodsList .infoHeader .unitPriceHd {
    width: 180px
}

.mainContent .cartCon .goodsList .infoHeader .numHd,.mainContent .cartCon .goodsList .infoHeader .operationHb {
    width: 128px
}

.mainContent .cartCon .goodsList .goodsItem {
    overflow: hidden
}

.mainContent .cartCon .goodsList .goodsItem .checkBox {
    position: relative
}

.mainContent .cartCon .goodsList .goodsItem .checkBox label {
    display: block;
    width: 12px;
    background: #fff;
    border: 1px solid #1e74f3;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 50px
}

.mainContent .cartCon .goodsList .goodsItem .checkBox .checked::before {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    margin: -3px 0 0 -3px;
    content: "";
    background: #1e74f3
}

.mainContent .cartCon .goodsList .goodsItem .checkBox,.mainContent .cartCon .goodsList .goodsItem .goodsInfo,.mainContent .cartCon .goodsList .goodsItem .goodsNum,.mainContent .cartCon .goodsList .goodsItem .goodsPrice,.mainContent .cartCon .goodsList .goodsItem .operation,.mainContent .cartCon .goodsList .goodsItem .unitPrice {
    float: left
}

.mainContent .cartCon .goodsList .goodsItem .goods {
    height: 120px
}

.mainContent .cartCon .goodsList .goodsItem .goods .checkBox {
    width: 60px;
    height: 118px;
    position: relative
}

.mainContent .cartCon .goodsList .goodsItem .goods .checkBox input {
    position: absolute;
    right: 0;
    top: 10px
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsInfo {
    width: 420px;
    height: 118px;
    padding: 8px
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsInfo img {
    float: left
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsInfo .goodsName {
    float: left;
    width: 300px;
    height: 102px;
    padding-left:15px;
    line-height: 102px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsInfo .goodsName a {
    color: #4e4e4e
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsInfo .goodsName a:hover {
    text-decoration: underline
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsPrice,.mainContent .cartCon .goodsList .goodsItem .goods .unitPrice {
    width: 140px;
    height: 118px;
    padding: 40px 0 0 20px;
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsPrice p,.mainContent .cartCon .goodsList .goodsItem .goods .unitPrice p {
    padding: 5px 0
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum,.mainContent .cartCon .goodsList .goodsItem .goods .operation {
    width: 128px;
    height: 118px;
    line-height:118px;
    text-align:center;
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation {
    border: 1px solid #dedede;
    width: 102px;
    height: 26px
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .minus,.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .plus {
    float: left;
    width: 24px;
    background: linear-gradient(to bottom,#fff,#f0f0f0);
    height: 24px;
    text-align: center;
    line-height: 24px;
    user-select: none;
    color: #000
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .minus {
    border-right: 1px solid #dedede
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .plus {
    border-left: 1px solid #dedede
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .amountText {
    float: left;
    width: 52px;
    height: 24px;
    border: none;
    outline: 0;
    padding-left: 8px
}

.mainContent .cartCon .goodsList .goodsItem .goods .goodsNum .numOperation .disabled {
    color: #999
}

.mainContent .cartCon .goodsList .goodsItem .goods .operation .delete {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 32px;
    color: #535353;
    transform: rotateZ(45deg);
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    border: 1px solid #dedede;
    border-radius: 50%;
    background: linear-gradient(135deg,#fff,#f0f0f0)
}

.mainContent .cartCon .goodsList .goodsItem .goods .operation .delete:hover {
    background: linear-gradient(135deg,#f0f0f0,#e0e0e0)
}

.mainContent .cartCon .goodsList .goodsItem .rentalInfo {
    padding: 10px;
    background: #E6E7E8
}

.mainContent .cartCon .goodsList .goodsItem .rentalInfo .infoText {
    float: left;
    width: 500px;
    padding: 0 24px
}

.mainContent .cartCon .goodsList .goodsItem .rentalInfo .infoText .rentalTime {
    font-size: 18px;
    margin: 0 3px
}

.mainContent .cartCon .goodsList .goodsItem .rentalInfo .disDesc {
    padding-top: 4px;
    float: right
}

.mainContent .cartCon .goodsList .goodsItem .rentalInfo .rentalDate {
    float: left;
    padding-left: 24px
}

.mainContent .cartCon .rentalSummary {
    padding: 25px;
    height: 155px;
    background: #FBFBFB;
    font-size: 14px;
    position: relative
}

.mainContent .cartCon .rentalSummary .checkBox {
    position: relative;
    border-right: 1px solid #dedede
}

.mainContent .cartCon .rentalSummary .checkBox label {
    display: inline-block;
    width: 12px;
    background: #fff;
    border: 1px solid #1e74f3;
    height: 12px;
    position: relative
}

.mainContent .cartCon .rentalSummary .checkBox span {
    margin-left: 8px
}

.mainContent .cartCon .rentalSummary .checkBox,.mainContent .cartCon .rentalSummary .checkInfo,.mainContent .cartCon .rentalSummary .clean,.mainContent .cartCon .rentalSummary .delete {
    display: inline-block;
    margin: 0 8px
}

.mainContent .cartCon .rentalSummary .checkBox,.mainContent .cartCon .rentalSummary .delete {
    width: 60px
}

.mainContent .cartCon .rentalSummary .clean {
    width: 80px
}

.mainContent .cartCon .rentalSummary .checkInfo {
    width: 120px
}

.mainContent .cartCon .rentalSummary .checkInfo .checkNum {
    margin: 0 4px
}

.mainContent .cartCon .rentalSummary .clean,.mainContent .cartCon .rentalSummary .delete {
    cursor: pointer
}

.mainContent .cartCon .rentalSummary .checked::before {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    margin: -3px 0 0 -3px;
    content: "";
    background: #1e74f3
}

.mainContent .cartCon .rentalSummary .payInfo {
    position: absolute;
    height: 96px;
    width: 360px;
    right: 20px;
    top: 16px;
    text-align: right;
}

.mainContent .cartCon .rentalSummary .payInfo .totalPayMoney {
    color: #DE4037;
    font-size: 20px
}

.mainContent .cartCon .rentalSummary .payBtn {
    position: absolute;
    left: 860px;
}
.addressInfo{
    max-width:80%;
}
.addressInfo .addressInfo_main{
    height:80px; overflow: hidden;
}
.addressInfo ul{
    width: 110%;
    height: 80px;
    overflow: auto;
}
.addressInfo ul li{ list-style-type: none; line-height:25px;}