<script>
    jsSrc('apply','detail');
</script>
<style>
  .input-group img{ max-width:200px;

  }
</style>
<fieldset>
    <legend>查看资料</legend>
</fieldset>

<div class="form-group">
  <label>营业执照</label>
  <div class="input-group" id="license">
  </div>
</div>

<div class="form-group">
    <label>文化许可证</label>
    <div class="input-group" id="wenhua_input">
    </div>
</div>

<div class="form-group">
    <label>消防合格证</label>
    <div class="input-group" id="xiaofang_input">
    </div>
</div>

<div class="form-group">
    <label>宽带接入协议/证明</label>
    <div class="input-group" id="kuandai_input">
    </div>
</div>

<div class="form-group">
    <label>租房协议</label>
    <div class="input-group" id="zufang_input">
    </div>
</div>

<div class="form-group">
    <label>门头照片</label>
    <div class="input-group" id="mentou_input">
    </div>
</div>

<div class="form-group">
    <label>网咖内部环境照片</label>
    <div class="input-group" id="neibu_input">
    </div>
</div>

<div class="form-group">
    <label>消防通道照片</label>
    <div class="input-group" id="xiaofangtongdao_input">
    </div>
</div>

<div class="form-group">
    <label>法人身份证</label>
    <div class="input-group" id="legal_person_card">
    </div>
</div>

<div class="form-group">
    <label>法人个人征信</label>
    <div class="input-group" id="zhengxin_input">
    </div>
</div>

<div class="form-group">
    <label>监控账号</label>
    <div class="input-group col-md-4">
        <input type="text" class="form-control" name="monitor_account" placeholder="监控账号" readonly>
    </div>
</div>

<div class="form-group">
    <label>订购机型备注</label>
    <div class="input-group col-md-4">
        <textarea class="form-control" rows="3" name="mark" placeholder="请填写需要订购的机型和其他信息"></textarea>
    </div>
</div>

<form class="form-horizontal" id="data">
    <input type="hidden" name="check_status" id="check_status" value='0' />
    <div class="form-group">
    <label>审核</label>
    <div class="btn-group btn-toggle"> 
        <a class="btn btn-sm btn-default" data='1'>通过</a>
        <a class="btn btn-sm btn-default" data='2'>驳回</a>
    </div>
    </div>

    <div class="form-group">
      <div class="">
        <button type="submit" class="btn btn-default">保存</button>
      </div>
    </div>
  </form>
