body{
    margin:0px; padding:0px;
    background: #fff;
}
ul,li{ margin: 0px; padding: 0px; }
ul li{ width:100%; text-indent: 1em;}
li{list-style-type: none;}

.main{
    width:960px;
    margin:0px auto;
    padding: 15px;
    display: block;
    overflow: hidden;
}
.block{ float:left; display: block; width:46%;margin:2%;margin-bottom:0px;min-height:113px;}
.block > .title{
    color:#fff;
    font-weight: bold;
    text-align: center;
    line-height:25px;
}

.main .block:nth-child(1) div{background:#663366}
.main .block:nth-child(2) div{background:#999999}
.main .block:nth-child(3) div{background:#666666}
.main .block:nth-child(4) div{background:#333366}
.main .block:nth-child(5) div{background:#6699cc}
.main .block:nth-child(6) div{background:#336666}
.block ul li label{
    display: inline-block;
    font-size:14px;
    line-height:20px;
}

.block ul li label:nth-child(1){
    width:30%;
}
.block ul li label:nth-child(2){
    width:35%;
}
.block ul li label:nth-child(3){
    width:25%;
    text-align: center;
}


.block_five{
    float:left;
    display: block;
    /*width:46%;
    min-height:310px;*/
    width:96%;
    min-height:188px;

    margin:2%;
margin-bottom:0px;
    position: relative;
}
.block_five > .title{
    color:#fff;
    font-weight: bold;
    line-height:25px;
    height:50px;
}
.block_five .txt{
font-size:18px;
font-weight:bold;
line-height:40px;
margin:40px 20px;
display:block;
text-align: center;
}
.block_five > .title > ul > li > label{
    float:left;
    text-align: center;
    font-weight: bold;
    min-width:17%;
    min-height:1px;
    display: block;
}
.block_five > .title > ul > li > label:nth-child(1){
    width:20%;
    line-height:50px; font-weight: bold;fong-size:12px;
}
.block_five > .title > ul > li > label:nth-child(2){
    width:18%;
}
.block_five > .title > ul > li > label:nth-child(3){
    width:18%;
}
.block_five > .title > ul > li > label:nth-child(4){
    width:18%;
}
.block_five > .title > ul > li > label:nth-child(5){
    width:20%;
}
.block_five > .title > ul > li > label > p{
    line-height:25px; margin:0px;
    padding:0px;
    text-align: center;
}
.block_five > .title > ul > li > label > span{
    display: block;
    text-align: center;
}
.block_five > .list > li{
    text-indent: 0px;
}
.block_five > .list > li > label{
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.block_five > .list > li > label:nth-child(1){
    width:20%;
    line-height:25px;
    font-size:10px;
    font-weight: normal;
}
.block_five > .list > li > label:nth-child(2){
    width:18%;
}
.block_five > .list > li > label:nth-child(3){
    width:18%;
}
.block_five > .list > li > label:nth-child(4){
    width:18%;
}
.block_five > .list > li > label:nth-child(5){
    width:18%;
}
.block_five .tips{
    position: absolute;
    width:12px;
    color: #ff523e;
    font-weight: bold;
    font-size:20px;
    right:3px;
    top:30%;
}
.block_five .text{
    padding:0px 15px;
}

.main .block_five:nth-child(2n) div{background:#333333}
.main .block_five:nth-child(2n+1) div{background:#336699}

.foot{
    background:#3a4656;
    color:#fff;
    overflow: hidden;
margin-top:-40px;
}
.foot .medium{
    margin:0px auto;
    display: block;
    max-width:610px;
}
.foot .medium img{
    float:left;
    margin:10px;
}
.foot .medium ul{
    float:left;
    margin:16px 0px 0px 76px;
}
